<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <!-- 로그 위치
    <property name="LOG_DIR" value="${user.home}/log" />
    <property name="LOG_PATH_NAME" value="${LOG_DIR}/mylog-access.log" />
 -->
    <appender name="ACCESSFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/mylog_access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archive/mylog_access.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>1KB</maxFileSize><!-- 로그파일 최대 크기 -->
            <maxHistory>30</maxHistory> <!-- 보관기간(개월) -->
        </rollingPolicy>
        <encoder>
            <pattern> {
						"timestamp":"%t{yyyy-MM-dd HH:mm:ss}",
						"host":"%h",
						"accessIp":"%a",
						"clientId":"%l",
						"responseId":"%u",
						"method":"%m",
						"status":"%s",
						"path":"%U",
						"queryString":"%q",
						"protocol":"%H",
						"size":"%b",
						"refererHeader":"%i{Referer}",
						"userAgentHeader":"%i{User-agent}",
						"responseTime":"%D"
					}
                    
         <!--              {
                    "@timestamp":"%t{yyyy-MM-dd HH:mm:ss}",
                    "host":"%h",
                    "accessIp":"%a",
                    "LoginId":"%l",
                    "firstValue":"%r",
                    "responseStatus": "%s",
                    "referer":"%i{Referer}",
                    "userAgent":"%i{User-agent}",
                    "sendBite":"%b",
                    "responseTime":"%D"
                    }
					
	{ class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"
                    "@timestamp":"%t{yyyy-MM-dd HH:mm:ss}",
		            "host":"%h",
                    "accessIp":"%a",
	  			    "LoginId":"%l",
                    "firstValue":"%r",
                    "responseStatus": "%s",
                    "referer": "%{Referer}i",
                    "userAgentHead":"%{User-Agent}i",
	   			    "sendBite":"%b",
                    "responseTime":"%D" json
			} 
			
			{ 
			"time":"%{%Y-%m-%dT%T}t.%{usec_frac}t%{%z}t",
			"remoteIP":"%a",
			"host":"%V",
			"requestPath":"%U",
			"query":"%q",
			"method":"%m",
			"status":"%>s",
			"userAgent":"%{User-agent}i",
			"referer":"%{Referer}i"
			}-->
			
			</pattern>
			
			<outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%fullRequest%n%n%fullResponse</pattern>
        </encoder>
    </appender>
    
    
    <!--   <appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
 				
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                    
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>-->
    
  
    <appender-ref ref="ACCESSFILE" />
    <!--<appender-ref ref="STDOUT2" />
	<appender-ref ref="STDOUT" />-->
	
</configuration>